@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
*{

  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.settings-manage {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.settings-manage .div {
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(0, 20, 37, 1) 100%
  );
  width: 100%;
  height: 1024px;
  position: relative;
}

.settings-manage .overlap {
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.settings-manage .title {
  position: absolute;
  width: 671px;
  top: 56px;
  left: 60px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 63.6px;
}

.settings-manage .text-wrapper-2 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 65px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #40a6ff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-3 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 568px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-4 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 395px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-5 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 265px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-6 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 747px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

input {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}


.settings-manage .text-wrapper-7 {
  position: absolute;
  height: 27px;
  top: 180px;
  left: 970px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .overlap-group {
  position: absolute;
  width: 590px;
  height: 110px;
  top: 318px;
  left: 84px;
}

.settings-manage .text-wrapper-8 {
  position: absolute;
  width: 257px;
  height: 19px;
  top: 18px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 42.5px;
  white-space: nowrap;
}

.settings-manage .overlap-2 {
  position: absolute;
  width: 590px;
  height: 110px;
  top: 0;
  left: 0;
}

.settings-manage .p {
  position: absolute;
  width: 546px;
  height: 14px;
  top: 67px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff9e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .image {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  left: 480px;
  object-fit: cover;
}

.settings-manage .text-wrapper-9 {
  position: absolute;
  width: 208px;
  height: 19px;
  top: 335px;
  left: 702px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31.8px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-10 {
  position: absolute;
  width: 60px;
  height: 21px;
  top: 495px;
  left: 568px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .text-wrapper-11 {
  position: absolute;
  width: 104px;
  height: 19px;
  top: 621px;
  left: 568px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .img {
  position: absolute;
  width: 780px;
  height: 1px;
  top: 456px;
  left: 568px;
  object-fit: cover;
}

.settings-manage .line-2 {
  position: absolute;
  width: 780px;
  height: 1px;
  top: 588px;
  left: 568px;
  object-fit: cover;
}

.settings-manage .line-3 {
  position: absolute;
  width: 780px;
  height: 1px;
  top: 699px;
  left: 568px;
  object-fit: cover;
}

.settings-manage .div-wrapper {
  position: absolute;
  width: 208px;
  height: 54px;
  top: 479px;
  left: 757px;
  background-color: #f8f8f812;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ffffff;
}

.settings-manage .text-wrapper-12 {
  position: absolute;
  width: 87px;
  height: 19px;
  top: 15px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff4c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.2px;
  white-space: nowrap;
}

.settings-manage .overlap-3 {
  position: absolute;
  width: 205px;
  height: 54px;
  top: 479px;
  left: 983px;
  background-color: #f8f8f812;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ffffff;
}

.settings-manage .text-wrapper-13 {
  position: absolute;
  width: 88px;
  height: 18px;
  top: 15px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff4c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.2px;
  white-space: nowrap;
}

.settings-manage .overlap-4 {
  position: absolute;
  width: 118px;
  height: 54px;
  top: 479px;
  left: 1220px;
  background-color: #0d60a8;
  border-radius: 100px;
}

.settings-manage .text-wrapper-14 {
  position: absolute;
  width: 51px;
  height: 17px;
  top: 16px;
  left: 33px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .overlap-5 {
  position: absolute;
  width: 214px;
  height: 65px;
  top: 861px;
  left: 562px;
  background-color: #0e5b9e;
  border-radius: 100px;
}

.settings-manage .text-wrapper-15 {
  position: absolute;
  width: 192px;
  height: 15px;
  top: 23px;
  left: 14px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .overlap-6 {
  position: absolute;
  width: 431px;
  height: 54px;
  top: 612px;
  left: 757px;
  background-color: #f8f8f812;
  border-radius: 56px;
  border: 1px solid;
  border-color: #ffffff;
}

.settings-manage .text-wrapper-16 {
  position: absolute;
  width: 405px;
  height: 18px;
  top: 16px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff4c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.2px;
  white-space: nowrap;
}

.settings-manage .overlap-7 {
  position: absolute;
  width: 88px;
  height: 33px;
  top: 380px;
  left: 702px;
  background-color: #0d60a8;
  border-radius: 55px;
}

.settings-manage .text-wrapper-17 {
  position: absolute;
  width: 42px;
  height: 11px;
  top: 9px;
  left: 23px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings-manage .overlap-8 {
  position: absolute;
  width: 93px;
  height: 33px;
  top: 380px;
  left: 800px;
  background-color: #d01a3f;
  border-radius: 55px;
}

.settings-manage .text-wrapper-18 {
  position: absolute;
  width: 80px;
  height: 11px;
  top: 9px;
  left: 8px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings-manage .text-wrapper-19 {
  position: absolute;
  width: 41px;
  height: 23px;
  top: 732px;
  left: 568px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26.5px;
  white-space: nowrap;
}

.settings-manage .overlap-group-2 {
  position: absolute;
  width: 431px;
  height: 54px;
  top: 741px;
  left: 757px;
  background-color: #f8f8f812;
  border-radius: 56px;
  border: 1px solid;
  border-color: #ffffff;
}

.settings-manage .text-wrapper-20 {
  position: absolute;
  width: 226px;
  height: 18px;
  top: 16px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff4c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.2px;
  white-space: nowrap;
}