{% load static %}
{% load nav_active %}
<nav class="navbar">
    <div class="nav-left">
        <img src="{% static 'images/logo.png' %}" alt="GoldenPath Logo" class="logo-img">
    </div>

    <div class="nav-center">
        <a href="{% url 'homepage' %}" class="{% active 'homepage' %}">Home</a>
        <a href="#">Features</a>
        <a href="{% url 'explore' %}" class="{% active 'explore' %}">Explore</a>
        <a href="{% url 'directory' %}" class="{% active 'directory' %}">Directory</a>
        <a href="#">Help & FAQs</a>
    </div>

    <div class="nav-right">
        {% if user.is_authenticated %}
            <a class="login-btn">Welcome, {{ user.first_name }}!</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="login-btn" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    
</nav>  

<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
